### Data Types

**doubt ?**

**String**

In [1]:
s = "Hello World!"

In [2]:
s[:5] # starting 5 chars
# shell output

'Hello'

In [7]:
print(s[:5])
# actual output

Hello

In [3]:
s[-5:] # last 5 chars

'orld!'

In [4]:
s[::-1] # reverse the string

'!dlroW olleH'

In [5]:
s[:-1] # skip last char from string

'Hello World'

In [6]:
s[:-3] # last 3 chars will be skipped

'Hello Wor'

**mutable & immutables**

In [8]:
s = "    Hello World!   \n   "

In [9]:
print(s)

    Hello World!

In [10]:
print(repr(s))

'    Hello World!   \n   '

In [11]:
s # shell output --> raw representation of object --->  repr

'    Hello World!   \n   '

In [12]:
print(s) # str

    Hello World!

In [13]:
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [15]:
print(s.capitalize) # string

<built-in method capitalize of str object at 0x000001EC69D0A670>

In [16]:
s.capitalize # raw (repr)

In [18]:
name = input("Name: ") # value return 
print(name) # does not return anything so default is None

Name: sachin
sachin

In [19]:
output = print("ehlo world")
print(output)

ehlo world
None

In [20]:
help(s.capitalize)

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [29]:
print("Hello World!")
print(repr("Hello World"))

Hello World!
'Hello World'

In [31]:
x = "HellO wOrlD hOw Are YoU ?  "
y = x.capitalize()
print("original string : ",repr(x))
print("capitalize string: ",repr(y))
z = x.title()
print("titled string: ", repr(z))
y = x.lower()
print("lowercase string: ", repr(y))
y = x.upper()
print("uppercase string: ", repr(y))
y = x.swapcase()
print("swapcase string: ", repr(y))

original string :  'HellO wOrlD hOw Are YoU ?  '
capitalize string:  'Hello world how are you ?  '
titled string:  'Hello World How Are You ?  '
lowercase string:  'hello world how are you ?  '
uppercase string:  'HELLO WORLD HOW ARE YOU ?  '
swapcase string:  'hELLo WoRLd HoW aRE yOu ?  '

In [34]:
"sachin" == "Sachin"

False

In [33]:
"sachin".lower() == "Sachin".lower()

True

In [35]:
"sachin" == "Sachin".casefold()

True

In [36]:
"sachin".casefold() == "Sachin".casefold() # caseless comparsion

True

### Strip (truncate)

In [37]:
s = "    Hello World    "

In [38]:
s1  = s.lstrip() # left spaces remove
s2 = s.rstrip() # right spaces remove
s3 = s.strip() # left and right spaces remove

print("Original string: ", repr(s))
print("Left Stripped String: ", repr(s1))
print("Right Stripped String: ", repr(s2))
print("Stripped String: ", repr(s3))

Original string:  '    Hello World    '
Left Stripped String:  'Hello World    '
Right Stripped String:  '    Hello World'
Stripped String:  'Hello World'

In [41]:
s = "\n\t\n\thello world\n\t\t\n"
print(repr(s))
s1 = s.strip()
print(repr(s1)) # \n new line character , \t tab characters

'\n\t\n\thello world\n\t\t\n'
'hello world'

In [42]:
s = "   \n\n\t\nHello World\n\n\t\t  "
s1 = s.strip()
s2 = s.strip(" ")
print(repr(s))
print(repr(s1))
print(repr(s2))

'   \n\n\t\nHello World\n\n\t\t  '
'Hello World'
'\n\n\t\nHello World\n\n\t\t'

In [43]:
s = "@!@!@!!!!!!!!!!!!!!!!!@@@Hello World!@!!@!@!@!@!@!@"

In [45]:
s1 = s.strip("!@")
print(repr(s))
print(repr(s1))

'@!@!@!!!!!!!!!!!!!!!!!@@@Hello World!@!!@!@!@!@!@!@'
'Hello World'

" "
# \t --> "    " depend on editer 
# \t --> "        "
# "     "
# \t

In [46]:
s = "  h                    e   "
s1 = s.strip()
print(repr(s))
print(repr(s1))

'  h                    e   '
'h                    e'

**zfill, center, rjust, format**

In [56]:
x = "Hello World"
print(repr(x))
z = x.zfill(20)
print(repr(z))

'Hello World'
'000000000Hello World'

In [54]:
s = "         \thello".strip(" ")

In [55]:
s

'\thello'

In [57]:
x = 001

SyntaxError: invalid token (<ipython-input-57-a4b11530fc66>, line 1)

In [58]:
x = '1'
print(x.zfill(3))

001

**center**

In [59]:
s = "Hello World"

In [60]:
s1 = s.center(20)
print(repr(s))
print(repr(s1))

'Hello World'
'    Hello World     '

In [61]:
s1 = s.center(20, '_')
print(repr(s))
print(repr(s1))

'Hello World'
'____Hello World_____'

In [67]:
s1 = s.center(20, '-')
print(repr(s))
print(repr(s1))
s1.center(30, '!')

'Hello World'
'----Hello World-----'

'!!!!!----Hello World-----!!!!!'

In [68]:
help(s.zfill)

Help on built-in function zfill:

zfill(width, /) method of builtins.str instance
    Pad a numeric string with zeros on the left, to fill a field of the given width.

    The string is never truncated.

In [69]:
help(s.center)

Help on built-in function center:

center(width, fillchar=' ', /) method of builtins.str instance
    Return a centered string of length width.

    Padding is done using the specified fill character (default is a space).

In [73]:
s = "Hello World!"
l = 20
sl = len(s)
chars = l - sl
print(chars)
nl = l+chars
print(nl)
s1 = s.center(nl, '_')[:20]
print(repr(s))
print(repr(s1))

8
28
'Hello World!'
'________Hello World!'

In [74]:
help(s.rjust)

Help on built-in function rjust:

rjust(width, fillchar=' ', /) method of builtins.str instance
    Return a right-justified string of length width.

    Padding is done using the specified fill character (default is a space).

In [75]:
s  = "Hello World!"

s1 = s.rjust(20)
print(repr(s))
print(repr(s1))

'Hello World!'
'        Hello World!'

In [77]:
s  = "Hello World!"

s1 = s.rjust(20, "-")
print(repr(s))
print(repr(s1))

'Hello World!'
'--------Hello World!'

In [79]:
s  = "Hello World!"

s1 = s.ljust(20, "-")
print(repr(s))
print(repr(s1))

'Hello World!'
'Hello World!--------'

In [81]:
fmsg = "Hello"
msg = "Hi, How are you"

print(fmsg.ljust(60))
print(msg.rjust(60))

Hello
                                             Hi, How are you

In [82]:
fmsg = "Hello"
msg = "Hi, How are you"

print(repr(fmsg.ljust(60)))
print(repr(msg.rjust(60)))

'Hello                                                       '
'                                             Hi, How are you'

**String Formatting**

In [85]:
name = input("name: ")
age = int(input("age: "))

s = "Hello!! Welcome mr. %s, you are %d years old."

print(s)

name: sachin
age: 24
Hello!! Welcome mr. %s, you are %d years old.

In [86]:
print("Hello!!! Welcome mr. ", name, ",you are ", age, "years old.")

Hello!!! Welcome mr.  sachin ,you are  24 years old.

    00 --> to restart your notebook

In [87]:
name = input("name: ")
age = int(input("age: "))
# %s --> string
# %d --> integer
# %f --> float
s = "Hello!! Welcome mr. %s, you are %d years old."%(name, age)
# old style formatting
print(s)

name: sachin
age: 24
Hello!! Welcome mr. sachin, you are 24 years old.

In [89]:
s = "Hello!! Welcome mr. {}, you are {} years old.".format(name, age)
#                         0           1                     0,1
print(s)

Hello!! Welcome mr. sachin, you are 24 years old.

In [90]:
x = 5
y = 6

s = """
x = {} 
y = {}

x + y = {}
x - y = {}
x * y = {}
x / y = {}
""".format(x, y, x+y, x-y, x*y, x/y)

In [91]:
print(s)

x = 5
y = 6

x + y = 11
x - y = -1
x * y = 30
x / y = 0.8333333333333334

#### leave application

In [92]:
app ="""
To
    The Headmaster,
    {}
    Jaipur

Sir,
    My name is {}, I am a student of class {}.
    Due to {} I am unable to attend classes for next {} days.
    Kindly Grant me leave for {} days.

    Thanks
    
Your Obediently,
{}
{}

"""

In [93]:
school_name  = input("school name: ")
name = input("Name: ")
cl = input("Class: ")
reason = input("Reason: ")
days = input("Days: ")
roll_no = input("Roll Number: ")

s = app.format(school_name, name,  cl, reason, days, days, name, roll_no)
print(s)

school name: AVM
Name: sachin
Class: cs b
Reason: headache
Days: 2
Roll Number: 10021

To
    The Headmaster,
    AVM
    Jaipur

Sir,
    My name is sachin, I am a student of class cs b.
    Due to headache I am unable to attend classes for next 2 days.
    Kindly Grant me leave for 2 days.

    Thanks

Your Obediently,
sachin
10021

In [102]:
s = "{} is {} and {} squere is {} and {} cube is {}."
#     0    1       2           3       4         5

In [103]:
s.format(x, x**2, x**3)

IndexError: tuple index out of range

In [99]:
x = int(input("number: "))

print(s.format(x, x, x, x**2, x, x**3))

number: 13
13 is 13 and 13 squere is 169 and 13 cube is 2197.

In [100]:
s = "{0} is {1} and {2} squere is {3} and {4} cube is {5}."
print(s.format(x, x, x, x**2, x, x**3))

13 is 13 and 13 squere is 169 and 13 cube is 2197.

In [101]:
s = "{0} is {0} and {0} squere is {1} and {0} cube is {2}."
print(s.format(x, x**2, x**3))

13 is 13 and 13 squere is 169 and 13 cube is 2197.

**learn by doing**

    Guido Van Rossum

    10% dependes on trainer
    
    90% depends on learner

In [104]:
app ="""
To
    The Headmaster,
    {0}
    Jaipur

Sir,
    My name is {1}, I am a student of class {2}.
    Due to {3} I am unable to attend classes for next {4} days.
    Kindly Grant me leave for {4} days.

    Thanks
    
Your Obediently,
{1}
{5}

""".format(school_name, name, cl, reason, days, roll_no)
print(app)

To
    The Headmaster,
    AVM
    Jaipur

Sir,
    My name is sachin, I am a student of class cs b.
    Due to headache I am unable to attend classes for next 2 days.
    Kindly Grant me leave for 2 days.

    Thanks

Your Obediently,
sachin
10021

In [105]:
app ="""
To
    The Headmaster,
    {sn}
    Jaipur

Sir,
    My name is {n}, I am a student of class {cl}.
    Due to {rs} I am unable to attend classes for next {ds} days.
    Kindly Grant me leave for {ds} days.

    Thanks
    
Your Obediently,
{n}
{rn}

""".format(school_name, name, cl, reason, days, roll_no)
print(app)

KeyError: 'sn'

In [106]:
app ="""
To
    The Headmaster,
    {sn}
    Jaipur

Sir,
    My name is {n}, I am a student of class {cl}.
    Due to {rs} I am unable to attend classes for next {ds} days.
    Kindly Grant me leave for {ds} days.

    Thanks
    
Your Obediently,
{n}
{rn}

""".format(sn=school_name, n=name, cl=cl, rs=reason, ds=days, rn=roll_no)
print(app)

To
    The Headmaster,
    AVM
    Jaipur

Sir,
    My name is sachin, I am a student of class cs b.
    Due to headache I am unable to attend classes for next 2 days.
    Kindly Grant me leave for 2 days.

    Thanks

Your Obediently,
sachin
10021

#python version > 3.6

In [110]:
!python --version

Python 3.7.4

In [115]:
x = 5
old  = "%d is %d and %d squre is %d and %d cube is %d"%(x, x, x, x**2, x, x**3)
s1 = "{} is {} and {} squre is {} and {} cube is {}.".format(x, x, x, x**2, x, x**3)
s2 = "{0} is {0} and {0} squre is {1} and {0} cube is {2}.".format(x, x**2, x**3)
print(old)
print(s1)
print(s2)
#fstring
s3 = f"{x} is {x} and {x} squre is {x**2} and {x} cube is {x**3}." # fstring --> 3.6
print(s3)

5 is 5 and 5 squre is 25 and 5 cube is 125
5 is 5 and 5 squre is 25 and 5 cube is 125.
5 is 5 and 5 squre is 25 and 5 cube is 125.
5 is 5 and 5 squre is 25 and 5 cube is 125.

In [117]:
x = int(input("x: "))
y = int(input("y: "))
s = """
x = {x}
y = {y}
x + y = {x+y}
x  - y = {x-y}
x * y = {x*y}
x / y = {x/y}
"""
print(s)

x: 4
y: 5

x = {x}
y = {y}
x + y = {x+y}
x  - y = {x-y}
x * y = {x*y}
x / y = {x/y}

In [118]:
x = int(input("x: "))
y = int(input("y: "))
s = f"""
x = {x}
y = {y}
x + y = {x+y}
x  - y = {x-y}
x * y = {x*y}
x / y = {x/y}
"""
print(s)

x: 4
y: 5

x = 4
y = 5
x + y = 9
x  - y = -1
x * y = 20
x / y = 0.8

In [121]:
x = int(input("x: "))
y = int(input("y: "))
s = f"""
x {'=':<10} {x}
y {'=':<10}  {y}
x + y {'=':<10}  {x+y}
x  - y {'=':<10}  {x-y}
x * y {'=':<10}  {x*y}
x / y {'=':<10}  {x/y}
"""
print(s)

x: 4
y: 5

x =          4
y =           5
x + y =           9
x  - y =           -1
x * y =           20
x / y =           0.8

**split**

**join**

**partition**

In [122]:
s = "Hello world how are you ? "

In [123]:
s1 = s.split()

In [124]:
print(s1)

['Hello', 'world', 'how', 'are', 'you', '?']

In [125]:
s = "Hello-world-how-are-you-?"

In [126]:
s1 = s.split('-')
print(s1)

['Hello', 'world', 'how', 'are', 'you', '?']

    split --> list

In [127]:
s = "Hello World How are you ?"

In [128]:
s[::-1]

'? uoy era woH dlroW olleH'

In [129]:
ans = "? you are How World Hello"

In [130]:
s1 = s.split()
print(s1)

['Hello', 'World', 'How', 'are', 'you', '?']

In [131]:
print(type(s1))

<class 'list'>

In [135]:
s1[::-1]

['?', 'you', 'are', 'How', 'World', 'Hello']

In [136]:
a = " ".join(s1[::-1])

In [137]:
print(a)

? you are How World Hello

In [138]:
s = "Hello World How are you ?"

In [139]:
s1 = s.split()

In [140]:
print(s1)

['Hello', 'World', 'How', 'are', 'you', '?']

In [141]:
l = [ 'java', 'c', 'c++', 'ruby']

In [142]:
n = "<-->".join(l)

In [143]:
print(n)

java<-->c<-->c++<-->ruby

In [144]:
print(type(n))

<class 'str'>

In [145]:
l = [ 'java', 'c', 'c++', 'ruby' , 1]
n = " ".join(l)

TypeError: sequence item 4: expected str instance, int found

In [146]:
s ="hello, sachin, how, "

In [147]:
s1 = s.split(', ')
print(s1)

['hello', 'sachin', 'how', '']

In [149]:
l = [ 'java', 'c', 'c++', 'ruby' , '1']
n = " ".join(l)
print(n)

java c c++ ruby 1

In [151]:
s = "-".join('python')

In [152]:
print(s)

p-y-t-h-o-n

In [153]:
s

'p-y-t-h-o-n'

In [155]:
s1 = s.split('-')

In [156]:
print(s1)

['p', 'y', 't', 'h', 'o', 'n']

In [157]:
ha = "".join(s1)

In [158]:
print(ha)

python

**List**

In [159]:
shop_list = [ 'clothes', 'watch', 'shoes', 'salt', 'oil']

In [160]:
print(type(shop_list))

<class 'list'>

In [161]:
print(dir(shop_list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

**ordered**

**sequential**

**iterable, collection**

**mutable**

**homogenous or hetrogenous**

**collection object**

In [162]:
shop_list

['clothes', 'watch', 'shoes', 'salt', 'oil']

**to add element**

    append(item) --> will add item at the end of list
    
    insert(loc, item) --> will add item in list at loc
    
    extend(iterable) --> will add each value from iterable at the end of list sequentially
    
**to delete element**

    *pop() --> will delete last element
    *pop(loc) --> will item on loc
    remove(item) --> will search and delete first occurence of item else throw error

In [163]:
shop_list

['clothes', 'watch', 'shoes', 'salt', 'oil']

In [164]:
shop_list.append('mobile')

In [165]:
shop_list

['clothes', 'watch', 'shoes', 'salt', 'oil', 'mobile']

In [166]:
shop_list.insert(1, 'tie')

In [167]:
shop_list

['clothes', 'tie', 'watch', 'shoes', 'salt', 'oil', 'mobile']

In [168]:
shop_list.extend(['bike', 'car', 'house',])

In [170]:
print(shop_list)

['clothes', 'tie', 'watch', 'shoes', 'salt', 'oil', 'mobile', 'bike', 'car', 'house']

In [171]:
shop_list.pop()

'house'

In [172]:
shop_list.pop(3)

'shoes'

In [173]:
shop_list

['clothes', 'tie', 'watch', 'salt', 'oil', 'mobile', 'bike', 'car']

In [174]:
shop_list.remove('tie')

In [175]:
shop_list

['clothes', 'watch', 'salt', 'oil', 'mobile', 'bike', 'car']

In [176]:
shop_list.sort()

In [177]:
shop_list

['bike', 'car', 'clothes', 'mobile', 'oil', 'salt', 'watch']

In [178]:
shop_list.sort(reverse=True)

In [179]:
shop_list

['watch', 'salt', 'oil', 'mobile', 'clothes', 'car', 'bike']

In [180]:
l = [ 

    [ 'ram', 56],
    [ 'shyam', 80],
    [ 'syed', 78],
    [ 'jhon', 77]
]

In [181]:
print(l)

[['ram', 56], ['shyam', 80], ['syed', 78], ['jhon', 77]]

In [182]:
l[0]

['ram', 56]

In [183]:
l[:5]

[['ram', 56], ['shyam', 80], ['syed', 78], ['jhon', 77]]

In [184]:
l[::-1]

[['jhon', 77], ['syed', 78], ['shyam', 80], ['ram', 56]]

In [185]:
l.sort()

In [186]:
l

[['jhon', 77], ['ram', 56], ['shyam', 80], ['syed', 78]]

In [188]:
from operator import itemgetter

In [189]:
l.sort(reverse=True, key=itemgetter(1))

In [190]:
l

[['shyam', 80], ['syed', 78], ['jhon', 77], ['ram', 56]]