**Any Doubt Till Now ?**

In [1]:
jadu = [ 
    [ 
        [
            'ghor',
            [
                'andhera', 
                [ 
                    'jadu',
                    [
                        'now', 
                        [
                            'tell'
                        ],
                        [
                            'me', 
                            'what'
                        ] 
                    ] 
                ] 
                
            ]
        ] 
      ] 

    ]

In [8]:
jadu[0][0][1][1][1][2][1]

'what'

In [10]:
jadu = [  
        ['ghor', 'andhera',], # 0,  -6
        ['jadu'], # 1, -5
        [], # 2, -4
        ['now', 'tell', 'me'], # 3, -3 
        ['what'], # 4, -2
        [] # 5, -1
       ]

In [14]:
jadu[4][0]

'what'

In [15]:
jadu[-2][-1]

'what'

In [19]:
data =  [ 
        [ 
        ], # jaipur 0 
        [    # total, 'died', 'recover'
            [ 1000, 400, 345], # rular
            [ 1300, 300, 250]# city
        ], # delhi 1
    ]

# print no of died patiend in delhic ity area

data[1][1][1]

300

In [29]:
'hello' >= 'hi'

False

In [32]:
[ 1, 2, 3] > [ 0, 100, 200]

True

In [30]:
'he' >= 'hi'

False

In [33]:
l = [ 5, 4, 7, 2, 6, 3, 8]
print(l)

[5, 4, 7, 2, 6, 3, 8]

In [36]:
l.sort(reverse=True)

In [37]:
l

[8, 7, 6, 5, 4, 3, 2]

In [38]:
[ 4, 5] >= [ 4, 3]

True

In [48]:
# nested list or 2d list
data = [
    # name,  maths, chem, phy
    [ 'sachin',  80, 68, 79],
    [ 'sachin', 80, 68, 65],
    [ 'rajat',   65, 76, 78],
    [ 'tanvi',   95, 45, 67],
    [ 'simran',  75, 78, 67],
    [ 'kushal',  67, 45, 64],
    [ 'riya',    76, 89, 87]
    #   0,       1,  2,   3
]

In [53]:
ord('A') # asscii A

65

In [54]:
ord('a') # ascii a

97

In [55]:
ord('7')

55

In [56]:
from operator import itemgetter

In [63]:
data.sort(key=itemgetter(1), reverse=True)

In [64]:
data

[['tanvi', 95, 45, 67],
 ['sachin', 80, 68, 65],
 ['sachin', 80, 68, 79],
 ['riya', 76, 89, 87],
 ['simran', 75, 78, 67],
 ['kushal', 67, 45, 64],
 ['rajat', 65, 76, 78]]

In [65]:
x = lambda value: value**2

In [67]:
x(2)

4

In [82]:
f = lambda l:l[3]

In [81]:
lang = [ 'java', 'c', 'c++', 'ruby']
f(lang)

'ruby'

In [79]:
sum([1, 2, 3, 4])

10

In [83]:
l = [ 'sachin', 40, 50, 20]
f = lambda l: sum(l[1:])

In [84]:
f(l)

110

In [85]:
data

[['tanvi', 95, 45, 67],
 ['sachin', 80, 68, 65],
 ['sachin', 80, 68, 79],
 ['riya', 76, 89, 87],
 ['simran', 75, 78, 67],
 ['kushal', 67, 45, 64],
 ['rajat', 65, 76, 78]]

In [90]:
data.sort(key=lambda item: sum(item[1:]), reverse=True)
data

[['riya', 76, 89, 87],
 ['sachin', 80, 68, 79],
 ['simran', 75, 78, 67],
 ['rajat', 65, 76, 78],
 ['sachin', 80, 68, 65],
 ['tanvi', 95, 45, 67],
 ['kushal', 67, 45, 64]]

In [91]:
5[0]

TypeError: 'int' object is not subscriptable

In [92]:
1234[1]

TypeError: 'int' object is not subscriptable

In [94]:
 data

[['riya', 76, 89, 87],
 ['sachin', 80, 68, 79],
 ['simran', 75, 78, 67],
 ['rajat', 65, 76, 78],
 ['sachin', 80, 68, 65],
 ['tanvi', 95, 45, 67],
 ['kushal', 67, 45, 64]]

In [95]:
print(id(data))

1398064675464

In [96]:
data_copy = data

In [97]:
print(id(data_copy))

1398064675464

In [98]:
lang = [ 'java', 'c', 'c++']

In [99]:
lang_copy = lang # this is not copy in python
# here we are copying reference not data

In [100]:
print(id(lang), id(lang_copy))

1398064825800 1398064825800

In [101]:
lang is lang_copy

True

In [102]:
lang.append('python')

In [103]:
print(lang)

['java', 'c', 'c++', 'python']

In [104]:
print(lang_copy)

['java', 'c', 'c++', 'python']

In [105]:
lang_copy = lang.copy() # shallow copy 

# diff shallow copy & deep copy

In [106]:
print(id(lang_copy), id(lang))

1398097437512 1398064825800

In [107]:
lang.append('scala')

In [108]:
lang

['java', 'c', 'c++', 'python', 'scala']

In [109]:
lang_copy

['java', 'c', 'c++', 'python']

In [110]:
lang

['java', 'c', 'c++', 'python', 'scala']

In [111]:
lang.reverse()

In [112]:
lang

['scala', 'python', 'c++', 'c', 'java']

In [114]:
x = lang[::-1]

In [115]:
x

['java', 'c', 'c++', 'python', 'scala']

In [116]:
lang.reverse() # mutable

In [117]:
lang

['java', 'c', 'c++', 'python', 'scala']

In [118]:
'hello'[:3] # slicing always creates a new object

'hel'

In [119]:
[1, 5, 4, 3][:3] # slicing always creates a new object

[1, 5, 4]

In [120]:
x = [ 1, 2, 3, 4]
y = x[:]

In [121]:
print(id(x), id(y))

1398095864520 1398097426248

In [122]:
x.append(100)

In [123]:
y

[1, 2, 3, 4]

In [124]:
x

[1, 2, 3, 4, 100]

In [126]:
print(*[ name for name in dir(list) if name[0].islower() and name[0] != '_'], sep='\n')

append
clear
copy
count
extend
index
insert
pop
remove
reverse
sort

In [127]:
lang

['java', 'c', 'c++', 'python', 'scala']

In [128]:
lang.clear()

In [129]:
lang

[]

In [131]:
lang = [ 'java', 'c', 'c++']
print(id(lang))
lang = []
print(id(lang))

1398097414856
1398095931720

In [132]:
lang =  [ 'java', 'c', 'c++']
print(id(lang))
lang.clear()
print(id(lang))
print(lang)

1398096432584
1398096432584
[]

In [133]:
from random import randint
randint(1, 50)

15

In [134]:
x = [ randint(1, 50) for var in range(10) ]

In [135]:
x

[50, 2, 28, 41, 19, 11, 23, 15, 50, 19]

In [136]:
help(x.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Stable sort *IN PLACE*.

In [138]:
x.sort(reverse=False)
x

[2, 11, 15, 19, 19, 23, 28, 41, 50, 50]

In [142]:
x.sort(reverse=True)
x

[50, 50, 41, 28, 23, 19, 19, 15, 11, 2]

In [143]:
x = [ 10, 50, 20, 5, 9]

In [145]:
x[::-1] # step - --> Right to left

[9, 5, 20, 50, 10]

In [146]:
x[::1] # step + --> left to right

[10, 50, 20, 5, 9]

In [147]:
l = [ 1, 2, 3]

l1 = l

print(id(l), id(l1))

1398094120072 1398094120072

#### Dictionary

* **unordered data type** no indexing no slicing
* **map type object** it always map a value to a particuar key
* **collection of key-value pairs**
* **iterable**
* **value can be any valid python object**
* **keys are always unique in python** no duplicate key possible
* **keys should be immutable type**

syntax: 

    d = { 'key1': 'value1', 'key2': 'value2' }

    {} --> denotes you are creating a dictionary same [] denotes you are creating a list
    
    : --> seprator between key and value
    
    , --> seprator between key-value pairs

In [149]:
info = { 'name': 'sachin', 'age': 24, 
       'language': [ 'hindi', 'english'],
       'country': "India"
       }

In [150]:
print(type(info))
print(info)

<class 'dict'>
{'name': 'sachin', 'age': 24, 'language': ['hindi', 'english'], 'country': 'India'}

In [153]:
info['name']

'sachin'

In [161]:
info['name'] = 'Sachin Yadav'
info['name']

'Sachin Yadav'

In [154]:
info['age']

24

In [155]:
info['country']

'India'

In [159]:
info['language'][0]

'hindi'

In [160]:
info['jadu'] # if key not exist raise an error

KeyError: 'jadu'

In [162]:
info

{'name': 'Sachin Yadav',
 'age': 24,
 'language': ['hindi', 'english'],
 'country': 'India'}

In [164]:
print(*[ name for name in dir(dict) if name[0].islower() and name[0]!= '_'], sep='\n')

clear
copy
fromkeys
get
items
keys
pop
popitem
setdefault
update
values

In [165]:
info

{'name': 'Sachin Yadav',
 'age': 24,
 'language': ['hindi', 'english'],
 'country': 'India'}

In [166]:
info.keys()

dict_keys(['name', 'age', 'language', 'country'])

In [167]:
info.values()

dict_values(['Sachin Yadav', 24, ['hindi', 'english'], 'India'])

In [168]:
info.items()

dict_items([('name', 'Sachin Yadav'), ('age', 24), ('language', ['hindi', 'english']), ('country', 'India')])

In [169]:
info

{'name': 'Sachin Yadav',
 'age': 24,
 'language': ['hindi', 'english'],
 'country': 'India'}

In [170]:
info_copy = info.copy()

In [171]:
info_copy

{'name': 'Sachin Yadav',
 'age': 24,
 'language': ['hindi', 'english'],
 'country': 'India'}

In [172]:
info

{'name': 'Sachin Yadav',
 'age': 24,
 'language': ['hindi', 'english'],
 'country': 'India'}

In [173]:
info is info_copy

False

In [174]:
info_copy.clear()

In [175]:
info_copy

{}

In [176]:
info

{'name': 'Sachin Yadav',
 'age': 24,
 'language': ['hindi', 'english'],
 'country': 'India'}

In [182]:
value = info.get('name')
print("value is ", value)

value is  Sachin Yadav

In [187]:
value = info.get('alkdjf')
print("value is ", value)

value is  None

In [185]:
info.get('abcd', 'no value exists')

'no value exists'

In [186]:
info.get('name', 'no value exists')

'Sachin Yadav'

Data Data Type and Type Casting