* Numbers

In [1]:
x = 5 #
y = 34.5
z = 12+5j
x + y * z

(419+172.5j)

* strings

In [2]:
s = "Hello World"

In [3]:
s[0]

'H'

In [4]:
s[:5]

'Hello'

In [5]:
s[::-1]

'dlroW olleH'

In [6]:
s1 = s.lower()
print(s1)

hello world

In [7]:
s1 = s.upper()
print(s1)

HELLO WORLD

In [8]:
s = s.split()
print(s)

['Hello', 'World']

In [11]:
name = 'sachin'
s = " %s name inside string."%(name)
print(s)
s = " {} name inside string.".format(name)
print(s)
s = f" {name} name inside string."
print(s)

 sachin name inside string.
 sachin name inside string.
 sachin name inside string.

In [12]:
l = [ 'java', 'c']

In [13]:
l.insert(0, 'python')

In [14]:
l.extend([ 'c++', 'ruby', 'perl'])

In [15]:
print(l)

['python', 'java', 'c', 'c++', 'ruby', 'perl']

In [16]:
l.append('lang')

In [17]:
l

['python', 'java', 'c', 'c++', 'ruby', 'perl', 'lang']

In [18]:
l.sort()

In [19]:
l

['c', 'c++', 'java', 'lang', 'perl', 'python', 'ruby']

In [20]:
l.reverse()

In [21]:
l

['ruby', 'python', 'perl', 'lang', 'java', 'c++', 'c']

In [22]:
c = l.copy()

In [23]:
c

['ruby', 'python', 'perl', 'lang', 'java', 'c++', 'c']

In [24]:
t = ( 'java' , 'c', ['java', 'c'], {'name':'sachin', 'age': 24})

In [25]:
t

('java', 'c', ['java', 'c'], {'name': 'sachin', 'age': 24})

In [26]:
t[:2]

('java', 'c')

In [27]:
t[::-1]

({'name': 'sachin', 'age': 24}, ['java', 'c'], 'c', 'java')

In [28]:
print(t)

('java', 'c', ['java', 'c'], {'name': 'sachin', 'age': 24})

In [29]:
d = { 'name':'sachin', 'lang': [ 'java', 'c', 'c++']}

In [30]:
d['name']

'sachin'

In [31]:
d['color'] = 'fair'

In [32]:
print(d)

{'name': 'sachin', 'lang': ['java', 'c', 'c++'], 'color': 'fair'}

In [33]:
from pprint import pprint

In [34]:
pprint(d)

{'color': 'fair', 'lang': ['java', 'c', 'c++'], 'name': 'sachin'}

In [35]:
d.pop('color')

'fair'

In [36]:
d

{'name': 'sachin', 'lang': ['java', 'c', 'c++']}

In [37]:
d.update([ ('age', 24), ('some', 'good')])

In [38]:
d

{'name': 'sachin', 'lang': ['java', 'c', 'c++'], 'age': 24, 'some': 'good'}

In [39]:
print(d)

{'name': 'sachin', 'lang': ['java', 'c', 'c++'], 'age': 24, 'some': 'good'}

In [41]:
rajat = { 'java', 'python', 'bash', 'html'}
sachin = { 'java', 'c', 'c++', 'ruby', 'java', 'java'}

In [42]:
print(type(sachin))

<class 'set'>

In [43]:
common = rajat.intersection(sachin)
print(common)

{'java'}

In [44]:
diff = rajat.difference(sachin)

In [45]:
diff

{'bash', 'html', 'python'}

In [46]:
diff = sachin.difference(rajat)

In [47]:
diff

{'c', 'c++', 'ruby'}

**Boolean**

    True --> yes 
    
    False --> no
    
        what things are false in python --> 
            
            0, False, None, any empty object ( '', [], {}, ...)

In [48]:
True

True

In [49]:
False

False

In [50]:
4 > 5

False

In [51]:
5 > 4

True

**None**

    represents a value which is nothing, also known as null value

In [52]:
None

In [53]:
x = print()

In [54]:
print(x)

None

In [55]:
l = [ 1, 2, 3, 4, 5]

l = l.sort()

print(l)

None

In [56]:
l

In [57]:
l = [ 1, 2, 3, 4, 5]

item = l.pop()

In [58]:
print(item)

5

In [59]:
l

[1, 2, 3, 4]

    marrige function --> dulhan 
    
    birthday function --> party

In [60]:
x = input() #'value'
print(x)

value
value

In [61]:
print("Hello World")

Hello World

### Type Casting or Type Conversion

    changing type of a data to another type

    int --> used to convert data into decimal

    float --> used to convert data into float values

    complex  --> used to convert data into complex values

    bin  --> so on 

    oct 

    hex

    str

    list

    tuple

    dict

    set

    frozenset

    bool

In [62]:
x = input("x: ")
y = input("y: ")

r = x + y 
print(r)

x: 5
y: 10
510

    input() --> value --> str type

In [64]:
x = input("x: ")
print(type(x), repr(x))

x: 5
<class 'str'> '5'

In [65]:
"Hello World " + "It's easy"

"Hello World It's easy"

In [66]:
"5" + "10"

'510'

In [67]:
5 + 10

15

In [68]:
x = input("input : ")

input : 10

In [69]:
type(x)

str

In [70]:
x

'10'

In [71]:
x = int(x)

print(type(x))

<class 'int'>

In [72]:
s = "1234"

i = int(s)

print(type(s), repr(s))
print(type(i), repr(i))

<class 'str'> '1234'
<class 'int'> 1234

In [74]:
s = "abcdef"

# is it possible to convert this string into integer value ?

    binary numbers

    octal numbers

    hexa-decimal

In [75]:
s

'abcdef'

In [76]:
int(s)

ValueError: invalid literal for int() with base 10: 'abcdef'

In [77]:
print(int.__doc__) # __doc__ --> doc string / documentation string

int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [79]:
s = "abcdef" # hexa-decimal --> 16

In [80]:
int(s, 16)

11259375

In [81]:
s = "1010"
int(s, 2)

10

In [84]:
s = '77'
int(s)

77

In [85]:
int(s, 8)

63

In [86]:
int('alkdjfksjdlkfjd')

ValueError: invalid literal for int() with base 10: 'alkdjfksjdlkfjd'

In [87]:
d = float("10.56")
d

10.56

In [88]:
type(d)

float

In [89]:
c  = complex('123+3.5j')

In [90]:
type(c)

complex

In [91]:
int(125.3323)

125

In [92]:
float(23)

23.0

In [93]:
float('24')

24.0

In [94]:
int('34.34')

ValueError: invalid literal for int() with base 10: '34.34'

In [96]:
x = input("X: ")
y = input("Y: ")
r = x + y
print(r)

X: 5
Y: 10
510

In [98]:
x = input("X: ") # str
y = input("Y: ") # str
print(type(x), type(y))
print("_"*60)
x = int(x)
y  = int(y)
print(type(x), type(y))
r = x + y
print(r)

X: 5
Y: 10
<class 'str'> <class 'str'>
____________________________________________________________
<class 'int'> <class 'int'>
15

In [99]:
x = int(input("x: "))
y = int(input("y: "))
r = x + y 
print(r)

x: 5
y: 10
15

In [101]:
bin(19)

'0b10011'

In [102]:
hex(19)

'0x13'

In [103]:
oct(19)

'0o23'

**str**

In [105]:
str(34)

'34'

In [106]:
str(45.6)

'45.6'

In [107]:
str(45+66j)

'(45+66j)'

In [108]:
str([1, 2,3 ,4 ])

'[1, 2, 3, 4]'

In [109]:
str((1, 2,3 , 4))

'(1, 2, 3, 4)'

In [110]:
d = { 'name':'sachin', 'age': 20}
str(d)

"{'name': 'sachin', 'age': 20}"

In [111]:
s = { 1, 2, 3, 4, 5}
str(s)

'{1, 2, 3, 4, 5}'

**List**

    any iterable can be converted into list

In [112]:
x = list('Python')

In [113]:
print(x)

['P', 'y', 't', 'h', 'o', 'n']

In [114]:
x = list([1, 2, 3, 4])
x

[1, 2, 3, 4]

In [115]:
x = list( ('hi', 'hello')  )
x

['hi', 'hello']

In [116]:
s = { 1, 2, 3,4 , 5}
x = list(s)
print(x)

[1, 2, 3, 4, 5]

In [117]:
d = { 'name': 'sachin', 'age': 24, 'country': 'india', 'language':[
    'hindi', 'english'
]}

In [118]:
print(d)

{'name': 'sachin', 'age': 24, 'country': 'india', 'language': ['hindi', 'english']}

In [119]:
l = list(d)

In [120]:
print(l)

['name', 'age', 'country', 'language']

In [121]:
l = list(d.values())
l

['sachin', 24, 'india', ['hindi', 'english']]

In [123]:
l = list(d.items())
print(l)

[('name', 'sachin'), ('age', 24), ('country', 'india'), ('language', ['hindi', 'english'])]

### dict

In [124]:
l =  [ ('hello', 'hello world'), ['name', 'sachin'], ['language', ('hindi', 'english')]  ]

In [125]:
d = dict(l)
print(d)

{'hello': 'hello world', 'name': 'sachin', 'language': ('hindi', 'english')}

In [129]:
l = [ ('name', 'sachin', ), ('age', 24), 'py', {'hello': 'bye', 'world': 'hi'}]
d = dict(l)
print(d)

{'name': 'sachin', 'age': 24, 'p': 'y', 'hello': 'world'}

**set**

    any iterable can be converted into set

In [132]:
s = 'python is python and python is awesome.'

In [133]:
s = set(s)

In [134]:
print(s)

{'m', 'o', 'a', '.', 's', 'h', ' ', 'w', 't', 'y', 'e', 'd', 'n', 'i', 'p'}

In [135]:
s = set( ['hello', 1, 2, 1, 2, 3, 1, 'hello', 'hello', 1, 2, 3, 1,2 ,3 ] )

In [136]:
print(s)

{1, 2, 3, 'hello'}

In [137]:
set([ 'hello', 'hi', 'bye', 'good', 'bye', 'hello', 'hello', 'good'])

{'bye', 'good', 'hello', 'hi'}

In [138]:
d = { 'name': 'sachin', 'age': 24, 'you': 'me'}

In [139]:
set(d)

{'age', 'name', 'you'}

In [142]:
set(d.keys())

{'age', 'name', 'you'}

In [143]:
set(d.values())

{24, 'me', 'sachin'}

In [147]:
frozenset(d.items())

frozenset({('age', 24), ('name', 'sachin'), ('you', 'me')})

**Boolean**

In [148]:
bool

bool

In [149]:
bool(False)

False

In [150]:
bool(True)

True

In [151]:
bool(0)

False

In [152]:
bool(None)

False

In [153]:
bool('')

False

In [154]:
bool([])

False

In [155]:
bool(())

False

In [157]:
bool({})

False

In [158]:
bool(' ')

True

In [159]:
bool([ '' ])

True

### Operators in Python

    which operats on data
    
    tools to work with raw_data to shape it into meaningfull data

    how to store data in memory ?

        Data Types
        
    how to process data in memory ? 
        
        using built-in functions of python and data classes of python
        
        operators

        
operation theaters 


    operends (patients)

    operator (doctor)

    Unary Operators

    Binary Operators

    Ternery Operators

In [161]:
x = 5

y = 10

In [162]:
x + y


# x is left side operand
# y is right side operand

# + is a binary operator

15

**Type of Operators in Python**

    Airthmatic Operators 
        
            +, -, *, /, %, //, **
    
    Comparision Operators
    
            >, <, <=, >=, ==, !=
            
    Logical Operators 
    
            or, and , not
            
    Membership Operators 
    
            in, not in
            
    Identity Operators 
    
            is , is not
            
    Bit-wise Operators
    
            &, |, ^, ~, <<, >>
            
    Asignment Operators
    
            +=, -=, *=, /=, %=, **=, //=

**Airthmatic Operators**

    Works well with number not with others

In [163]:
5 + 5 # plus

10

In [164]:
"hello " + "world" # concatination

'hello world'

In [165]:
[ 'java', 'c', 'c++'] + [ 'python', 'ruby']

['java', 'c', 'c++', 'python', 'ruby']

In [166]:
('java', 'c') + ('python', 'c++')

('java', 'c', 'python', 'c++')

In [168]:
l1= [ 1, 2, 3, 4]
l2 = [ 4, 5, 6, 7]

print(id(l1))
print(id(l2))

l1 = l1 + l2
print(id(l3))
print(l1)

2855286192008
2855286193032
2855285893448
[1, 2, 3, 4, 4, 5, 6, 7]

In [169]:
l1= [ 1, 2, 3, 4]
l2 = [ 4, 5, 6, 7]
print(id(l1))
print(id(l2))
l1.extend(l2)
print(id(l1))
print(l)

2855293652936
2855287555336
2855293652936
[('name', 'sachin'), ('age', 24), 'py', {'hello': 'bye', 'world': 'hi'}]

In [170]:
{ 'name': 'sachin'} + { 'age': 23}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [171]:
56 -70

-14

In [172]:
'hello ' - 'world'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [173]:
5 * 5

25

In [176]:
22 / 7  # true division, absolute division

3.142857142857143

In [178]:
22 // 7 # int division, floor division

3

In [183]:
int(22 / 7 )

3

In [180]:
from math import floor, ceil

In [181]:
floor(10.9)

10

In [182]:
ceil(10.1)

11

In [184]:
round(10.4)

10

In [188]:
round(11.5)

12

In [189]:
round(10.6)

11

In [191]:
round(6.639862183721893792817392)

7

In [192]:
round(6.639862183721893792817392, 2)

6.64

In [193]:
round(5, 2)

5

In [194]:
round(5.4, 3)

5.4

In [195]:
round(5.5555555, 2)

5.56

In [197]:
x  = 5
s = f"{x:.2f}"
print(s)

5.00

In [198]:
5 / 3

1.6666666666666667

In [199]:
5 // 3

1

In [201]:
10 % 3

1

In [202]:
13  % 7

6

In [203]:
5 % 25

5

In [204]:
5 ** 2

25

In [205]:
2 ** 3

8

In [206]:
"Hello " * 5 # replication

'Hello Hello Hello Hello Hello '

In [207]:
[ 'java'] * 5

['java', 'java', 'java', 'java', 'java']

In [209]:
print("_"*60)

____________________________________________________________

In [210]:
"hello " * "world"

TypeError: can't multiply sequence by non-int of type 'str'

**Comparision**

In [211]:
5 > 6

False

In [212]:
6 < 6

False

In [213]:
6 >= 6

True

In [214]:
5 != 6

True

In [215]:
5 == 7

False

    >, <, >=, <=, ==, !=

**Logical Operators**

**or**

In [216]:
True or True

True

In [217]:
True or False

True

In [218]:
False or True

True

In [219]:
False or False

False

In [220]:
None or 0

0

In [221]:
5 or 6

5

In [223]:
print(print("Hello World") or print("Bye World") )

Hello World
Bye World
None

In [225]:
6 or 0

6

In [226]:
0 or 6

6

In [227]:
True and True

True

In [228]:
True and False

False

In [229]:
False and False

False

In [230]:
output = print("Hello World") and print("Bye World")

# ouput =  None and print("Bye World")

print(output)

print(bool(output))

Hello World
None
False

     unary operator

In [231]:
not 0

True

In [232]:
not 1

False

In [233]:
not False

True

In [234]:
not False

True

In [235]:
not 5 > 6

True

&&, ||, !

    and, or, not

**Membership**

    in  or not int

In [236]:
'hello' in 'hello world'

True

In [237]:
'java' in [ 'c', 'c++', 'ruby', 'perl', 'python']

False

In [238]:
s = { 'name': 'sachin', 'age': 24, 'color':'fair'}

In [239]:
'country' in s # keys

False

In [240]:
'language' not in s # keys

True

**Identity Operator**

In [241]:
x = 5

y = x

In [242]:
x is y

True

In [243]:
x is not y

False

In [244]:
l = [ 1, 2, 3, 4, 5]

l1 = l

In [245]:
l is l1

True

In [246]:
s = "hello world"
s1 = 'hello world'

In [247]:
s == s1

True

In [248]:
s is s1

False

In [249]:
id(s) != id(s1)

True

**Bit-wise Operator**

In [250]:
x = 17

In [251]:
print(bin(x))

0b10001

16 8 4 2 1

1  0 0  0 1

In [252]:
x = 5
y = 3

In [253]:
# 1 0 1 --> 5
# 0 1 1 --> 3

In [254]:
5 & 3

1

In [255]:
# 1 0 1 --> 5
# 0 1 1 --> 3
# 0 0 1 --> 1

In [256]:
5 | 3

7

In [257]:
# 1 0 1 --> 5
# 0 1 1 --> 3
# 1 1 1 --> 7

In [258]:
5 ^ 3

6

In [259]:
# 1 0 1 --> 5
# 0 1 1 --> 3
# 1 1 0 --> 6

In [260]:
~ 5

-6

In [262]:
~ -6

5

    << left shift

    >> right shift

In [265]:
5 << 3

40

      1 0 1 

    1  0  1 0
    
  1 0 1 0 0 
1 0 1 0 0 0 

32 16 8 4 2 1

In [266]:
5 >> 3

0

**10 real data store**

**Operator Precedence**

In [268]:
5+6*3/2-4**3//2*6

-178.0