In [2]:
x = 15 # integer
y = 'hello world'# string
z  = [ 1, 2, 3, 4] # list

In [8]:
print(id(x), x, type(x))
print(dir(x))
help(x.bit_length)

140732138693456 15 <class 'int'>
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']
Help on built-in function bit_length:

bit_length() method of builtins.int instance
    Number of bits necessary to represent self in binary.

    >>> bin(37)
    '0b100101'
    >>> (37).bit_length()
    6

In [9]:
print(id(y), y, type(y))
print(dir(y))

2280327650864 hello world <class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [10]:
print(id(z), z, type(z))
print(dir(z))

2280325724424 [1, 2, 3, 4] <class 'list'>
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [18]:
s = "sachin" # immutable 
print(id(s))
k = s
print(id(k))

2280326421424
2280326421424

In [19]:
s = s.upper() # over-riding
print(id(s))

2280343254768

In [21]:
print(k)
print(id(k))

sachin
2280326421424

In [13]:
print(s)

SACHIN

**lists are mutable**

In [23]:
mylist =  [ 1, 2, 3, 4, ] # muttable

In [24]:
print(id(mylist))

2280342186952

In [25]:
mylist.append(5)

In [26]:
print(mylist)

[1, 2, 3, 4, 5]

In [27]:
print(id(mylist))

2280342186952

In [30]:

s = "Hello my name is {} and my age is {}" # {} --> place holders

In [29]:

print(s)

Hello my name is {} and my age is {}

In [31]:
name = 'sachin'
age = 23

In [34]:
ns = s.format(name, age) # string formatting

In [42]:
s = "Hello my name is {} and my age is {}" # {} --> place holders
s.format()
# slack, whatsapp

IndexError: tuple index out of range

In [35]:
print(ns)

Hello my name is sachin and my age is 23

In [36]:
name = 'sachin'
age = 23

In [37]:
s = f"Hello, my name is {name} and my age is {age}"

In [38]:
print(s)

Hello, my name is sachin and my age is 23

In [39]:
s = "Hello, my name is %s and my age is %d."%(name, age)

In [40]:
print(s)

Hello, my name is sachin and my age is 23.

     We will start at 7: 10  pm

    Any Doubt till now

### Data Type 

    type --> category / processing --> methods --> type --> class (methods)

## List

* lists are mutable
* list are sequentilly ordered data type
* list is collection of objects (variable, items)
* list is iterable

In [43]:
l = [ 1, 2, 3, 4, ]

In [44]:
print(type(l))

<class 'list'>

In [45]:
print(id(l))

2280342185480

In [46]:
print(dir(l)) # methods that are applicable to list type data

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

**methods that can be used to add elements to a list**

    append(object) --> add object at the end of list
    
    insert(loc, object) --> add object at index loc in list
    
    extend(iterable)  -->  add each object from iterable at the end of list sequentially

In [52]:
class P:
    def __init__(self, x):
        self.x  = x
    def __str__(self):
        return f"{self.x}"

p1 = P(5)
print(p1, type(p1))

5 <class '__main__.P'>

456 456  --> int
'hello' --> str
[ 1, 2, 3, 4] --> list
{ 'name':'sachin'} --> dict

In [49]:
x = 5

x = int(5)

In [53]:
lang = list([ 'java', 'c', 'c++', 'ruby'])

In [54]:
lang = [ 'java', 'c', 'c++', 'ruby']

In [55]:
print(lang, id(lang))

['java', 'c', 'c++', 'ruby'] 2280343551304

In [56]:
lang

['java', 'c', 'c++', 'ruby']

In [57]:
lang.append('perl')

In [58]:
lang

['java', 'c', 'c++', 'ruby', 'perl']

In [59]:
print(id(lang))

2280343551304

In [60]:
s = 'hello' # immutable
print(id(s))
print(s)
s = s.upper()
print(id(s))
print(s)

2280342166768
hello
2280343207984
HELLO

In [61]:
lang

['java', 'c', 'c++', 'ruby', 'perl']

In [62]:
lang.append('swift')

In [63]:
lang

['java', 'c', 'c++', 'ruby', 'perl', 'swift']

In [64]:
lang[-4]

'c++'

In [65]:
lang[3]

'ruby'

In [66]:
print(f"Total Elements in list {len(lang)}")

Total Elements in list 6

In [67]:
name = [ 'vijay', 'rajat', 'sachin', 'nidhi', 'simran', 'manish', 'aashish']

In [68]:
name.sort()

In [69]:
name

['aashish', 'manish', 'nidhi', 'rajat', 'sachin', 'simran', 'vijay']

In [70]:
# tanvi # append --> last ---> sort # efficient
name.insert(6, 'tanvi')

In [71]:
print(name)

['aashish', 'manish', 'nidhi', 'rajat', 'sachin', 'simran', 'tanvi', 'vijay']

In [72]:
name.insert(1, 'kushal')

In [73]:
print(name)

['aashish', 'kushal', 'manish', 'nidhi', 'rajat', 'sachin', 'simran', 'tanvi', 'vijay']

# append --> last single element
# insert --> add element at pos

In [76]:
print(name)

['aashish', 'kushal', 'manish', 'nidhi', 'rajat', 'sachin', 'simran', 'tanvi', 'vijay']

In [77]:
new_name = 'salini'
# 
name.insert(-4, new_name)

In [78]:
print(name)

['aashish', 'kushal', 'manish', 'nidhi', 'rajat', 'salini', 'sachin', 'simran', 'tanvi', 'vijay']

In [79]:
name.append('gaurav')

In [80]:
print(name)

['aashish', 'kushal', 'manish', 'nidhi', 'rajat', 'salini', 'sachin', 'simran', 'tanvi', 'vijay', 'gaurav']

In [81]:
name.sort()

In [82]:
print(name)

['aashish', 'gaurav', 'kushal', 'manish', 'nidhi', 'rajat', 'sachin', 'salini', 'simran', 'tanvi', 'vijay']

In [85]:
name[0] = 'avnish' # replace / overwrite

In [87]:
name.insert(-1, 'xyz') # we can not

In [90]:
name.insert(100, 'zzz')

In [91]:
print(name)

['avnish', 'gaurav', 'kushal', 'manish', 'nidhi', 'rajat', 'sachin', 'salini', 'simran', 'tanvi', 'xyz', 'vijay', 'zzz']

In [89]:
print(name)

['avnish', 'gaurav', 'kushal', 'manish', 'nidhi', 'rajat', 'sachin', 'salini', 'simran', 'tanvi', 'xyz', 'vijay']

In [86]:
print(name)

['avnish', 'gaurav', 'kushal', 'manish', 'nidhi', 'rajat', 'sachin', 'salini', 'simran', 'tanvi', 'vijay']

extend --> iterable

In [83]:
lang

['java', 'c', 'c++', 'ruby', 'perl', 'swift']

In [92]:
lang.extend(['php', 'python', 'bash', 'scala', 'octave'])

In [94]:
print(lang)

['java', 'c', 'c++', 'ruby', 'perl', 'swift', 'php', 'python', 'bash', 'scala', 'octave']

# let's test how far you guys have come

In [95]:
l = []

In [96]:
l.insert(0, 'java')
l.append('python')
l.insert(1, 'c++')
l.append(['ruby', 'perl', 'python'])
l.insert(-3, 'scala')
l.extend('bash')

In [97]:
print(l)

['java', 'scala', 'c++', 'python', ['ruby', 'perl', 'python'], 'b', 'a', 's', 'h']

In [98]:
l = [ 1, 2]

In [99]:
l.append('python')

In [100]:
l.insert(2, 'c')

In [101]:
l.append(['ruby', 'perl'])

In [102]:
l.insert(0, ['hello', 'hi'])

In [103]:
l.extend('sachin')

In [104]:
l.extend(['html', 'css', 'js'])

In [105]:
l.insert(5, 'bash')

In [106]:
print(l)

[['hello', 'hi'], 1, 2, 'c', 'python', 'bash', ['ruby', 'perl'], 's', 'a', 'c', 'h', 'i', 'n', 'html', 'css', 'js']

**to delete elements from a list**

* pop() -->  delete last element from list
* pop(loc) --> delete element from loc index
* remove(item) --> will search and remove element from list (only first occurence)

In [107]:
print(lang)

['java', 'c', 'c++', 'ruby', 'perl', 'swift', 'php', 'python', 'bash', 'scala', 'octave']

In [108]:
lang.pop()

'octave'

In [109]:
print(lang)
item = lang.pop()
print(f"{item} is delted from list lang.")
print(lang)

['java', 'c', 'c++', 'ruby', 'perl', 'swift', 'php', 'python', 'bash', 'scala']
scala is delted from list lang.
['java', 'c', 'c++', 'ruby', 'perl', 'swift', 'php', 'python', 'bash']

In [110]:
item = lang.pop(3)
print(lang)
print(f"{item} is deleted from list")
print(lang)

['java', 'c', 'c++', 'perl', 'swift', 'php', 'python', 'bash']
ruby is deleted from list
['java', 'c', 'c++', 'perl', 'swift', 'php', 'python', 'bash']

In [111]:
print(lang)

['java', 'c', 'c++', 'perl', 'swift', 'php', 'python', 'bash']

In [112]:
lang.insert(3, 'python')
lang.insert(0, 'python')

In [113]:
print(lang)

['python', 'java', 'c', 'c++', 'python', 'perl', 'swift', 'php', 'python', 'bash']

In [115]:
help(l.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [117]:
lang.remove('python')

In [118]:
print(lang)

['java', 'c', 'c++', 'python', 'perl', 'swift', 'php', 'python', 'bash']

In [119]:
lang.remove('html')

ValueError: list.remove(x): x not in list

In [121]:
'html' in lang

False

In [122]:
'python' in lang

True

In [124]:
l.insert(100, 'java')

function make sure about it's parameters

In [126]:
l = []
l.append('java') # [ 'java']
l.pop() # []
l.insert(0, 'ruby') # ? [ 'ruby']
l.append('python') #  [ 'ruby', 'python']
l.pop(-1) # [ 'ruby']
l.extend(['c', 'c++', 'java']) # [ 'ruby', 'c', 'c++', 'java']
l.pop(2) # [ 'ruby', 'c', 'java']
l.insert(0, 'html') # [ 'html', 'ruby', 'c', 'java']
l.append('c') # [ 'html', 'ruby', 'c', 'java', 'c']
l.remove('c') # [ 'html', 'ruby', 'java', 'c']

print(l)

['html', 'ruby', 'java', 'c']

In [127]:
s = 'a'

In [128]:
print(type(s))

<class 'str'>

In [129]:
l

['html', 'ruby', 'java', 'c']

In [130]:
l.extend('a')

In [131]:
l

['html', 'ruby', 'java', 'c', 'a']

In [132]:
l.extend('')

In [133]:
l

['html', 'ruby', 'java', 'c', 'a']

In [134]:
l.extend(1234)

TypeError: 'int' object is not iterable


**append**, **insert**, **extend**, **pop**, **remove**

**Common Methods of list**

* count(object) --> willl count occurence of object in list and returen counting
* index(object) --> will return first index value where object is found 
* sort(object) --> will use to sort a list **list should be homogenous**
* clear() ---> will delete all elements of  a list
* copy() --> to create a copy of list 
* reverse() --> to reverse a list

In [138]:
print(*[ a for a in dir(list) if a[0].islower() and a[0] != '_' ], sep='\n')

append
clear
copy
count
extend
index
insert
pop
remove
reverse
sort

In [139]:
lang = [ 'java', 'java', 'c', 'mar', 'java', 'python', 'ruby', 'python', 'awesome']

In [140]:
c = lang.count('abrcadabra')

In [141]:
print(c) # no such item available

0

In [142]:
c = lang.count('java')
print(c)

3

In [144]:
print(*[ (item, lang.count(item)) for item in lang ], sep='\n')

('java', 3)
('java', 3)
('c', 1)
('mar', 1)
('java', 3)
('python', 2)
('ruby', 1)
('python', 2)
('awesome', 1)

In [145]:
lang

['java', 'java', 'c', 'mar', 'java', 'python', 'ruby', 'python', 'awesome']

In [146]:
i = lang.index('mar')

In [147]:
print(i)

3

In [148]:
i  = lang.index('sachin')

ValueError: 'sachin' is not in list

In [149]:
lang

['java', 'java', 'c', 'mar', 'java', 'python', 'ruby', 'python', 'awesome']

In [150]:
lang.index('java')

0

In [152]:
lang.index('java', 3)

4

In [153]:
lang.sort()

In [154]:
lang

['awesome', 'c', 'java', 'java', 'java', 'mar', 'python', 'python', 'ruby']

In [155]:
d = [ 1, 'hi']
d.sort() # list should homogenous

TypeError: '<' not supported between instances of 'str' and 'int'

In [157]:
d = [ 1, 23, 3,4, 23,2, 3,2 ,3]

In [158]:
d.sort()

In [159]:
d

[1, 2, 2, 3, 3, 3, 4, 23, 23]

In [160]:
d.sort(reverse=True)

In [161]:
d

[23, 23, 4, 3, 3, 3, 2, 2, 1]

In [164]:
# nested list or 2d list
data = [
    
    [ 'sachin', 80],
    [ 'rajat',  65],
    [ 'tanvi',  95],
    [ 'simran', 75],
    ['kushal',  67],
    ['riya',    76]
    
]

In [169]:
data[2]

['tanvi', 95]

In [172]:
data[2][0]

'tanvi'

In [173]:
jadu = [ [ [ 'ghor', [ 'andhera', [ 'jadu', ['now', ['tell'], ['me', 'what'] ] ] ] ] ] ]

In [174]:
jadu[0][0][1][1][1][2][1]

'what'

In [176]:
data =  [ 
        [ 
        ], # jaipur
        [    # total, 'died', 'recover'
            [ 1000, 400, 345], # rular
            [ 1300, 300, 250]# city
        ], # delhi
    ]

# print no of died patiend in jaipur city area

In [182]:
x = [ 1, 5, 3, 4]
x.sort()
print(x)

[1, 3, 4, 5]

In [199]:
# nested list or 2d list
data = [
    
    [ 'sachin', 80],
    [ 'rajat',  65],
    [ 'tanvi',  95],
    [ 'simran', 75],
    ['kushal',  67],
    ['riya',    76]
    
]

In [184]:
print(data)

[['sachin', 80], ['rajat', 65], ['tanvi', 95], ['simran', 75], ['kushal', 67], ['riya', 76]]

In [185]:
data.sort() # ? list should be homogenous

In [186]:
print(data)

[['kushal', 67], ['rajat', 65], ['riya', 76], ['sachin', 80], ['simran', 75], ['tanvi', 95]]

In [187]:
data.sort(reverse=True)

In [188]:
data

[['tanvi', 95],
 ['simran', 75],
 ['sachin', 80],
 ['riya', 76],
 ['rajat', 65],
 ['kushal', 67]]

In [189]:
from operator import itemgetter

In [190]:
data.sort(reverse=True, key=itemgetter(1))

In [191]:
data

[['tanvi', 95],
 ['sachin', 80],
 ['riya', 76],
 ['simran', 75],
 ['kushal', 67],
 ['rajat', 65]]

In [192]:
import operator

In [193]:
data.sort(key=operator.itemgetter(1))

In [194]:
data

[['rajat', 65],
 ['kushal', 67],
 ['simran', 75],
 ['riya', 76],
 ['sachin', 80],
 ['tanvi', 95]]

In [202]:
import operator # operator --> operator.add, operator.itemgetter
from operator import itemgetter # single

In [196]:
from operator import *

In [200]:
data.sort(key=itemgetter(1), reverse=True)

In [201]:
data

[['tanvi', 95],
 ['sachin', 80],
 ['riya', 76],
 ['simran', 75],
 ['kushal', 67],
 ['rajat', 65]]

In [203]:
import operator  # memory

In [204]:
operator.add(4, 5)

9

In [205]:
operator.sub(6, 100)

-94

In [206]:
from operator import itemgetter

In [207]:
from random import randint, choice

In [212]:
randint(1, 100)

43

In [213]:
lang

['awesome', 'c', 'java', 'java', 'java', 'mar', 'python', 'python', 'ruby']

In [219]:

choice(lang)

'python'

### Dictionary

    9782131159

In [220]:
l = [ 1, -1, 2, -3, 5, 8]

In [221]:
l.sort()

In [222]:
l

[-3, -1, 1, 2, 5, 8]

In [223]:
l.sort(key=lambda x: abs(x))

In [224]:
l

[-1, 1, 2, -3, 5, 8]

# binomial distribution 
# normal distribution 

# probability