#### Dictionary

* unordered
* map type object (value --> key)
* key-value collection
* keys unique and immutable
* value can be any valid python object
* iterable

In [1]:
info = { 
    'name': 'python',
    'versions': [ '1.X', '2.X', '3.X'], #  ('1.X', '2.X', '3.X')
    'father': 'Guido Van Rossum', 
    'packages': {
        'ml': [ 'sci-kit learn', 'scipy', 'tensorflow', 'keras', 'opencv'],
        'ds': [ 'numpy', 'pandas', 'matplotlib', 'seaborn', 'sympy'],
        'web': [ 'flask', 'django', 'requests'],
        'gui': [ 'tkinter', 'wxpython', 'kivi'],
        'automation': [ 'ansible', 'salt']
        }
    
    }

In [6]:
# how will i print django ? 
info['packages']['web'][1]

'django'

In [2]:
from time import sleep
from tqdm import tqdm
for _ in tqdm(range(120)):
    sleep(1)

100%|██████████████████████████████████████████████████████████████████████████████████| 120/120 [02:01<00:00,  1.01s/it]

       hello --> variable / identifier
   
       'hello' --> value

In [10]:
packages = 'name'
info['packages']

{'ml': ['sci-kit learn', 'scipy', 'tensorflow', 'keras', 'opencv'],
 'ds': ['numpy', 'pandas', 'matplotlib', 'seaborn', 'sympy'],
 'web': ['flask', 'django', 'requests'],
 'gui': ['tkinter', 'wxpython', 'kivi'],
 'automation': ['ansible', 'salt']}

In [7]:
print(info)

{'name': 'python', 'versions': ['1.X', '2.X', '3.X'], 'father': 'Guido Van Rossum', 'packages': {'ml': ['sci-kit learn', 'scipy', 'tensorflow', 'keras', 'opencv'], 'ds': ['numpy', 'pandas', 'matplotlib', 'seaborn', 'sympy'], 'web': ['flask', 'django', 'requests'], 'gui': ['tkinter', 'wxpython', 'kivi'], 'automation': ['ansible', 'salt']}}

In [11]:
from pprint import pprint 

# pretty print and we use to print complex data structures to show them in simple manner

In [14]:
pprint(info, indent=5)

{    'father': 'Guido Van Rossum',
     'name': 'python',
     'packages': {    'automation': ['ansible', 'salt'],
                      'ds': [    'numpy',
                                 'pandas',
                                 'matplotlib',
                                 'seaborn',
                                 'sympy'],
                      'gui': ['tkinter', 'wxpython', 'kivi'],
                      'ml': [    'sci-kit learn',
                                 'scipy',
                                 'tensorflow',
                                 'keras',
                                 'opencv'],
                      'web': ['flask', 'django', 'requests']},
     'versions': ['1.X', '2.X', '3.X']}

In [17]:
info['packages']['ds'][-1]

'sympy'

dictionaries are un-ordered

In [18]:
info['packages']['ml']

['sci-kit learn', 'scipy', 'tensorflow', 'keras', 'opencv']

In [19]:
 info['packages']['ml'].append('nltk')

In [20]:
pprint(info)

{'father': 'Guido Van Rossum',
 'name': 'python',
 'packages': {'automation': ['ansible', 'salt'],
              'ds': ['numpy', 'pandas', 'matplotlib', 'seaborn', 'sympy'],
              'gui': ['tkinter', 'wxpython', 'kivi'],
              'ml': ['sci-kit learn',
                     'scipy',
                     'tensorflow',
                     'keras',
                     'opencv',
                     'nltk'],
              'web': ['flask', 'django', 'requests']},
 'versions': ['1.X', '2.X', '3.X']}

In [21]:
old_list = info['packages']['ml']

In [22]:
old_list

['sci-kit learn', 'scipy', 'tensorflow', 'keras', 'opencv', 'nltk']

In [23]:
info['packages']['ml'] = []

In [24]:
pprint(info)

{'father': 'Guido Van Rossum',
 'name': 'python',
 'packages': {'automation': ['ansible', 'salt'],
              'ds': ['numpy', 'pandas', 'matplotlib', 'seaborn', 'sympy'],
              'gui': ['tkinter', 'wxpython', 'kivi'],
              'ml': [],
              'web': ['flask', 'django', 'requests']},
 'versions': ['1.X', '2.X', '3.X']}

In [25]:
info['packages']['ml'] = old_list

In [26]:
pprint(info)

{'father': 'Guido Van Rossum',
 'name': 'python',
 'packages': {'automation': ['ansible', 'salt'],
              'ds': ['numpy', 'pandas', 'matplotlib', 'seaborn', 'sympy'],
              'gui': ['tkinter', 'wxpython', 'kivi'],
              'ml': ['sci-kit learn',
                     'scipy',
                     'tensorflow',
                     'keras',
                     'opencv',
                     'nltk'],
              'web': ['flask', 'django', 'requests']},
 'versions': ['1.X', '2.X', '3.X']}

In [28]:
info['packages']['ml'].insert(2, ['python', 'is', 'awesome'])

In [29]:
pprint(info)

{'father': 'Guido Van Rossum',
 'name': 'python',
 'packages': {'automation': ['ansible', 'salt'],
              'ds': ['numpy', 'pandas', 'matplotlib', 'seaborn', 'sympy'],
              'gui': ['tkinter', 'wxpython', 'kivi'],
              'ml': ['sci-kit learn',
                     'scipy',
                     ['python', 'is', 'awesome'],
                     'tensorflow',
                     'keras',
                     'opencv',
                     'nltk'],
              'web': ['flask', 'django', 'requests']},
 'versions': ['1.X', '2.X', '3.X']}

In [33]:
info['packages']['ml'][2][1]

'is'

In [34]:
d = { 
    'name': 'Sachin', 
    'age': 24, 
    'country': 'India'
}

In [35]:
d.keys()

dict_keys(['name', 'age', 'country'])

In [36]:
d.values()

dict_values(['Sachin', 24, 'India'])

In [37]:
d.items()

dict_items([('name', 'Sachin'), ('age', 24), ('country', 'India')])

In [38]:

x = { 'ml': [ 'java', 'c', 'c++']}

In [40]:
old = x['ml']

In [41]:
new =   [ 'scala', 'octave', 'python']

In [42]:
print(old)

['java', 'c', 'c++']

In [43]:
print(new)

['scala', 'octave', 'python']

In [44]:
x['ml'] = [ old, new]

In [45]:
x['ml']

[['java', 'c', 'c++'], ['scala', 'octave', 'python']]

In [46]:
x

{'ml': [['java', 'c', 'c++'], ['scala', 'octave', 'python']]}

In [47]:
new + old

['scala', 'octave', 'python', 'java', 'c', 'c++']

In [48]:
d

{'name': 'Sachin', 'age': 24, 'country': 'India'}

In [49]:
d.keys()

dict_keys(['name', 'age', 'country'])

In [50]:
d.values()

dict_values(['Sachin', 24, 'India'])

In [51]:
d.items()

dict_items([('name', 'Sachin'), ('age', 24), ('country', 'India')])

In [52]:
d.get('name')

'Sachin'

In [53]:
d.get('aldkfj')

In [54]:
d['name']

'Sachin'

In [55]:
d['alsdkjf']

KeyError: 'alsdkjf'

In [56]:
d.get('alkdsfj', 'no information')

'no information'

In [57]:
d.get('name', 'no information')

'Sachin'

In [58]:
d

{'name': 'Sachin', 'age': 24, 'country': 'India'}

In [59]:
help(d.setdefault)

Help on built-in function setdefault:

setdefault(key, default=None, /) method of builtins.dict instance
    Insert key with a value of default if key is not in the dictionary.

    Return the value for key if key is in the dictionary, else default.

In [60]:
item = d.setdefault('name', 'abracadabra')

In [62]:
print(item)

Sachin

In [63]:
d

{'name': 'Sachin', 'age': 24, 'country': 'India'}

In [64]:
item = d.setdefault('color', 'fair')

In [65]:
print(item)

fair

In [66]:
d

{'name': 'Sachin', 'age': 24, 'country': 'India', 'color': 'fair'}

In [67]:
item = d.get('abcd', 'efgh')
print(item)
print(d)

efgh
{'name': 'Sachin', 'age': 24, 'country': 'India', 'color': 'fair'}

In [68]:
item = d.setdefault('abcd', 'efgh')
print(item)
print(d)

efgh
{'name': 'Sachin', 'age': 24, 'country': 'India', 'color': 'fair', 'abcd': 'efgh'}

In [69]:
item = d.setdefault('name', 'bigad diya')
print(item)
print(d)

Sachin
{'name': 'Sachin', 'age': 24, 'country': 'India', 'color': 'fair', 'abcd': 'efgh'}

In [70]:
d = { 'name': 'sachin',
    'age': 24, 
    'language': [ 'hindi', 'english']}

In [71]:
print(d)

{'name': 'sachin', 'age': 24, 'language': ['hindi', 'english']}

In [73]:
pprint(d, indent=5)

{'age': 24, 'language': ['hindi', 'english'], 'name': 'sachin'}

In [74]:
d['name'] = 'Sachin Yadav' # it will update name

In [75]:
print(d)

{'name': 'Sachin Yadav', 'age': 24, 'language': ['hindi', 'english']}

In [76]:
d['country'] = "India" # you can add new value also

In [77]:
print(d)

{'name': 'Sachin Yadav', 'age': 24, 'language': ['hindi', 'english'], 'country': 'India'}

In [78]:
d['old'] = d['age']

In [80]:
pprint(d)

{'age': 24,
 'country': 'India',
 'language': ['hindi', 'english'],
 'name': 'Sachin Yadav',
 'old': 24}

In [81]:
del d['age']

In [82]:
pprint(d)

{'country': 'India',
 'language': ['hindi', 'english'],
 'name': 'Sachin Yadav',
 'old': 24}

In [83]:
pprint(d, indent=5) # indent == space

{    'country': 'India',
     'language': ['hindi', 'english'],
     'name': 'Sachin Yadav',
     'old': 24}

In [84]:
d

{'name': 'Sachin Yadav',
 'language': ['hindi', 'english'],
 'country': 'India',
 'old': 24}

In [85]:
d.update(name='sachin')

In [87]:
pprint(d)

{'country': 'India',
 'language': ['hindi', 'english'],
 'name': 'sachin',
 'old': 24}

In [88]:
d.update(country='USA', old=30, name='michle', blood_group='B+ive')

In [89]:
pprint(d)

{'blood_group': 'B+ive',
 'country': 'USA',
 'language': ['hindi', 'english'],
 'name': 'michle',
 'old': 30}

In [94]:
d

{'language': ['hindi', 'english'],
 'country': 'USA',
 'old': 30,
 'blood_group': 'B+ive',
 'name': 'sachin'}

In [95]:
value = d.pop('name')

print(f"name : {value} is delted from dictionary")

name : sachin is delted from dictionary

In [96]:
d

{'language': ['hindi', 'english'],
 'country': 'USA',
 'old': 30,
 'blood_group': 'B+ive'}

In [98]:
help(d.pop)

Help on built-in function pop:

pop(...) method of builtins.dict instance
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

In [99]:
d

{'language': ['hindi', 'english'],
 'country': 'USA',
 'old': 30,
 'blood_group': 'B+ive'}

In [100]:
value = d.pop('old', 'laksdjflkjdf')
print(value)

30

In [101]:
d

{'language': ['hindi', 'english'], 'country': 'USA', 'blood_group': 'B+ive'}

In [102]:
value = d.pop('abcd', 'no such key')
print(value)

no such key

In [103]:
d

{'language': ['hindi', 'english'], 'country': 'USA', 'blood_group': 'B+ive'}

In [104]:
d.pop('alkdjf')

KeyError: 'alkdjf'

In [105]:
d['ldkfj']

KeyError: 'ldkfj'

In [106]:
l = [ 1, 2, 3, 4]

In [107]:
l[ 100 ]

IndexError: list index out of range

In [108]:
d

{'language': ['hindi', 'english'], 'country': 'USA', 'blood_group': 'B+ive'}

In [109]:
d.popitem() # it can delte any random key-value pair

('blood_group', 'B+ive')

**unordered**

In [110]:
enmey = {
    'thanos': 100,
    'joker': 120
}

In [111]:
enmey.popitem()

('joker', 120)

In [112]:
enmey.pop('thanos')

100

In [113]:
enmey

{}

In [115]:
print(*[func for func in dir(dict) if func[0].islower() and func[0] != '_'], sep='\n')

clear
copy
fromkeys
get
items
keys
pop
popitem
setdefault
update
values

In [118]:
d = { 'name': 'sachin', 'age': 24, 'country': "India", }

In [119]:
d

{'name': 'sachin', 'age': 24, 'country': 'India'}

In [120]:
new_dict = d.fromkeys(['a', 'b', 'c'])

In [121]:
new_dict

{'a': None, 'b': None, 'c': None}

In [122]:
new_dict = d.fromkeys(['a', 'b', 'c'], 'ha ha ha ha')

In [123]:
new_dict

{'a': 'ha ha ha ha', 'b': 'ha ha ha ha', 'c': 'ha ha ha ha'}

In [125]:
d

{'name': 'sachin', 'age': 24, 'country': 'India'}

In [127]:
java = info.fromkeys(info.keys())

In [128]:
java

{'name': None, 'versions': None, 'father': None, 'packages': None}

In [129]:
info.keys()

dict_keys(['name', 'versions', 'father', 'packages'])

In [130]:
d

{'name': 'sachin', 'age': 24, 'country': 'India'}

In [132]:
n = d.fromkeys(d.keys(), 'default') # shift+ tab

In [133]:
n

{'name': 'default', 'age': 'default', 'country': 'default'}

In [135]:
d = { 'name': 'sachin', 'name': 'aakash', 'name':'swagat'}

In [136]:
d

{'name': 'swagat'}

In [ ]:
d

In [137]:
d = dict([ ('name', 'sachin'), ('age', 10), ('country', 'india') ] )
d

{'name': 'sachin', 'age': 10, 'country': 'india'}

In [138]:
d.update([ ('name', 'Sachin Yadav'), ('language', ['hindi', 'english']), ('blood_group', 'B+ive'), ])

In [139]:
d

{'name': 'Sachin Yadav',
 'age': 10,
 'country': 'india',
 'language': ['hindi', 'english'],
 'blood_group': 'B+ive'}

## Set

* collection of unique immutable elements
* set is mutable type
* iterable
* unordered
* follow set theory

In [140]:
from time import sleep
from tqdm import tqdm████████████████████████████████████████████████████████████████████████████████
for _ in tqdm(range(120)):
    sleep(1)

100%|██████████████████████████████████████████████████████████████████████████████████| 120/120 [02:00<00:00,  1.00s/it]

    unviersal space
    
    intersection
    
    union
    
    difference
    
    subset
    
    superset
    
    disjoint set

In [141]:
s = { 1, 2, 3, 4, 5, 56 }

In [142]:
print(type(s))
print(id(s))

<class 'set'>
2089170899912

In [143]:
print(type({}))

<class 'dict'>

In [144]:
print(type(set()))

<class 'set'>

In [146]:
print(*[func for func in dir(set) if func[0].islower() and func[0] != '_'], sep='\n')

add
clear
copy
difference
difference_update
discard
intersection
intersection_update
isdisjoint
issubset
issuperset
pop
remove
symmetric_difference
symmetric_difference_update
union
update

In [147]:
s1 = { 1, 2, 3, 4, 5, 1, 1, 1, 1,1 ,1 ,1, }

In [148]:
print(s1)

{1, 2, 3, 4, 5}

In [149]:
s1[2]

TypeError: 'set' object is not subscriptable

In [150]:
s1 = { 1, 2, 3, 4, 5, 6, 7}
s2 = { 5, 6, 7, 8, 9, 10}

In [151]:
s = s1.intersection(s2)

In [152]:
print(s)

{5, 6, 7}

In [153]:
s = s1.union(s2)

In [154]:
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [155]:
s = s1.difference(s2)

In [156]:
print(s)

{1, 2, 3, 4}

In [157]:
s  = s1.symmetric_difference(s2)

In [158]:
s

{1, 2, 3, 4, 8, 9, 10}

In [159]:
s1.isdisjoint(s2)

False

In [160]:
s1.issubset(s2)

False

In [161]:
s1

{1, 2, 3, 4, 5, 6, 7}

In [162]:
s1.add(8)

In [163]:
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [164]:
s1.update([1, 2, 3,4 , 5, 6, 7, 8, 9, 10, 11, 12, 14])

In [165]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14}

In [166]:
s1.discard(10)

In [167]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 14}

In [168]:
s1.discard(1)

In [169]:
s1

{2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 14}

In [170]:
s1.discard(100)

In [171]:
s1

{2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 14}

In [172]:
s1.remove(4)

In [173]:
s1

{2, 3, 5, 6, 7, 8, 9, 11, 12, 14}

In [174]:
s1.remove(100)

KeyError: 100

In [175]:
s1.pop()

2

In [176]:
s1.pop()

3

In [177]:
s1

{5, 6, 7, 8, 9, 11, 12, 14}

### Frozen Set

    immutable set

In [178]:
s = frozenset({1, 2, 3, 4,5 })

In [179]:
type(s)

frozenset

In [180]:
s = { 1, 2, 3}

In [181]:
s = { 'hello', 'hi', (1, 2,3 )}

In [182]:
s

{(1, 2, 3), 'hello', 'hi'}

In [183]:
s  = { 1, [1, 2]}

TypeError: unhashable type: 'list'

is_lower

isLower