In [2]:
10*1+10*3+4+6+10+10

70

1.Given a string s consists of upper/lower-case alphabets and empty space characters ' ', return the length of last word (last word means the last appearing word if we loop from left to right) in the string:

Input: s= "Hello ronaldo"

output: 7

                                                                                        marks=1

2.Write a Python program to print numbers from 0 to 6 except 3 and 6.

Note : Use 'continue' statement.

Expected Output : 0 1 2 4 5                                                                                      
                                                                                        marks=1

    3.Can you sort given lis?
                                                                                                                                                                                        marks=1

    lis={1:2,3:4,2:{8:{3:7}},0:34}

4.What is the major difference between tuples and lists?
    
                                                                                          marks=1

5.find the output of the below?
                               
                                                                                      marks=1

    print({62,2,33,4,4,11,22,3,3,2})

6. Remove duplicate elemensts from the given list.

                                                                                    marks=1

    Input=[1,2,2,5,6,1,7]
    output= [1,2,5,6,7]

7.LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

                                                                                    marks=1

8.Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

                                                                                    marks=1

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

**9.You may assume that each input would have exactly one solution, and you may not use the same element twice.**

*Example:*
Given nums = [2, 7, 11, 15], target = 9,

Because nums[0] + nums[1] = 2 + 7 = 9,
return [0, 1].

                                                                                          marks=1

10.Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False
                            
                                                                                         marks=1

11. Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. Go to the editor
Note :
i = 0,1.., m-1
j = 0,1, n-1.

Test Data : Rows = 3, Columns = 4

Expected Result : [[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]



marks=3

12.PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
print_big('a')

out:   *  
      * *
     *****
     *   *
     *   *
HINT: Consider making a dictionary of possible pattern.                                  
                    
                                                                                        marks=3

13.**Write a program to print the multiplication of all the elements of a list except the element present at i th position in the list.**

Sample input = [3,5,2,1]

Sample Output= [10,6,15,30]
                                                                                       
                                                                                       marks=3

14.**Given a string s, find the longest palindromic substring in s. **

Sample Input= "abcbdf"

Sample Output = "bcb"

                                                                                        marks=3

15.Given a sorted array and a target value, return the index if the target is found. If not, return the index where it would be if it were inserted in order.

You may assume no duplicates in the array.


Input: [1,3,5,6], target: 5   
Output: 2


Input: [1,3,5,6], target: 2       
Output: 1


Input: [1,3,5,6], target: 7        
Output: 4


Input: [1,3,5,6], 0
,    Output: 0

                                                                                      marks=3

16.Use zip() and a list comprehension to return a list of the same length where each value is the two strings from L1 and L2 concatenated together with connector between them. Look at the example output below:
        
        concatenate(['A','B'],['a','b'],'-') output=['A-a', 'B-b']
                                                                                    marks=3

17.BLACKJACK: 

    Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
hint
   
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19
                                                                                        marks=3

18.SUMMER OF '69

    Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers
#hint

    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14                                                 marks=3

[1, 2, 5]

19.Write a Python function to check whether a string is pangram or not.

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"
    Hint: Look at the string module

#hint for-->

    ispangram("The quick brown fox jumps over the lazy dog") output=True                  marks=3

20.Given a string, determine if it is a palindrome, considering only alphanumeric characters and ignoring cases.


Note: For the purpose of this problem, we define empty string as valid palindrome.


Input: "A man, a plan, a canal: Panama"

Output: true
                                                                                   
                                                                                   marks=3

21.# Object Oriented Programming Challenge

    For this challenge, create a bank account class that has two attributes:

    * owner
    * balance

    and two methods:

    * deposit
    * withdraw

    As an added requirement, withdrawals may not exceed the available balance.

    Instantiate your class, make several deposits and withdrawals, and test to make sure the account can't be overdrawn.                                                marks=4

22.Given an array of strings, group anagrams together.

Example:

Input: ["eat", "tea", "tan", "ate", "nat", "bat"],

Output:
[
  ["ate","eat","tea"],
  ["nat","tan"],
  ["bat"]
]

                                                                                Marks: 6

23.Non-Divisible Subset


    Given a set of distinct integers, print the size of a maximal subset of S where the sum of any 2 numbers in S' is not evenly divisible by K.For example, array S=[19,10,12,10,24,22,10] and K=4. One of the arrays that can be created is s[0]=[10,12,25]. Another is s'[1]=[19,22,24]. After testing all permutations, the maximum length solution array has 3 element.
    
Function Description

Complete the nonDivisibleSubset function in the editor below. It should return an integer representing the length of the longest subset of  meeting the criteria.

nonDivisibleSubset has the following parameter(s):

S: an array of integers
k: an integer

`Input:-
4 3
1 7 2 4
Output:-
3                                                                                  marks=10`

24.An English text needs to be encrypted using the following encryption scheme.
First, the spaces are removed from the text. Let  be the length of this text.
Then, characters are written into a grid, whose rows and columns have the following constraints:

[l^1/2]<=row<=column<=[L^1/2],where [x] is floor function and [x] is ceil function 
For example, the sentence 
s=if man was want to stay on the groud god would have given us roots
, after removing spaces is 54 characters long. 54^1/2 is between 7 and 8, so it is written in the form of a grid with 7 rows and 8 columns.

ifmanwas  
meanttos          
tayonthe  
groundgo  
dwouldha  
vegivenu  
sroots
Ensure that rows*columns>=L
If multiple grids satisfy the above conditions, choose the one with the minimum area, i.e. .
rows*columns
The encoded message is obtained by displaying the characters in a column, inserting a space, and then displaying the next column and inserting a space, and so on. For example, the encoded message for the above rectangle is:

    imtgdvs fearwer mayoogo anouuio ntnnlvt wttddes aohghn sseoau

You will be given a message to encode and print.



    Input
    haveaniceday

    Output 0
    hae and via ecy

    Explanation 0
    L=12,12^1/2 is between 3 and 4.
    Rewritten with 3 rows and 4 columns:
    have
    anic
    eday                                                                                 marks=10